.subscribe {
	margin-top: 197px;
	margin-bottom: 197px;
}

.subscribe__content {
	margin: 0 auto;
	text-align: center;
}

.subscribe__divider {
	padding: 37px 0;
}
.divider {
	margin: 0 auto;
	background: #c4c4c4;
	width: 461px;
	height: 1px;
}
.description {
}
.subscribe__input {
}
.subscribe__btn {
}
