.testimonials {
	margin-top: 163px;
}

.testimonials__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.testimonials__title {
}

.service__controls {
}
.testimonials__slider {
	// margin: 0 auto;
}
// testim card
