<div class="swiper-slide">
	<div class="testimonials__card">
		<div class="testimonials__img">
			<img src="./img/testimonials/keni.jpg" alt="client" />
		</div>
		<div class="testimonials__text">
			<div class="testimonials__header">
				<div class="testimonials__title1">Louis Saville</div>
				<div class="testimonials__subtitle">/CEO at Google inc</div>
				<div class="testimonials__quotes">''</div>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
		</div>
	</div>
	<!-- <div class="testimonials__card">
		<div class="testimonials__img">
			<img src="./img/testimonials/keni.jpg" alt="client" />
		</div>
		<div class="testimonials__text">
			<div class="testimonials__header">
				<div class="testimonials__title1">Louis Saville</div>
				<div class="testimonials__subtitle">/CEO at Google inc</div>
				<div class="testimonials__quotes">''</div>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
		</div>
	</div>
	<div class="testimonials__card">
		<div class="testimonials__img">
			<img src="./img/testimonials/keni.jpg" alt="client" />
		</div>
		<div class="testimonials__text">
			<div class="testimonials__header">
				<div class="testimonials__title1">Louis Saville</div>
				<div class="testimonials__subtitle">/CEO at Google inc</div>
				<div class="testimonials__quotes">''</div>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
		</div>
	</div>
	<div class="testimonials__card">
		<div class="testimonials__img">
			<img src="./img/testimonials/keni.jpg" alt="client" />
		</div>
		<div class="testimonials__text">
			<div class="testimonials__header">
				<div class="testimonials__title1">Louis Saville</div>
				<div class="testimonials__subtitle">/CEO at Google inc</div>
				<div class="testimonials__quotes">''</div>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
		</div>
	</div> -->
</div>
