<div class="swiper-slide" style="min-width: 574px">
	<div class="testimonials__card">
		<div class="testimonials__img">
			<img src="./img/testimonials/@@testimonials-img" alt="client" />
		</div>
		<div class="testimonials__text">
			<div class="testimonials__header">
				<div class="testimonials__title1">@@testimonials-title</div>
				<div class="testimonials__subtitle">
					@@testimonials-subtitle
				</div>
				<div class="testimonials__quotes">
					<img src="./img/testimonials/@@testimonials-quotes" alt="quotes" />
				</div>
			</div>
			<div class="testimonials__description">@@description</div>
		</div>
	</div>
</div>
